/* TODO: Add back "@tailwind base;", you need to disable preflight then add back file manually */
@tailwind components;
@tailwind utilities;

html {
  background-color: #25262b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.crisp-client .cc-tlyw {
  z-index: 4 !important;
}

.glow {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
}

/* .pulse {
  background-color: #d444f1;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
} */

@keyframes pulsing {
  0% {
    background-color: #d444f1;
    box-shadow: 0 0 5px #d444f1;
  }
  50% {
    background-color: #d444f1;
    box-shadow: 0 0 20px #d221f5;
  }
  100% {
    background-color: #d444f1;
    box-shadow: 0 0 5px #d444f1;
  }
}
.glow {
  animation: glowing 1300ms infinite;
}

@keyframes glowing {
  0% {
    background-color: #3c85ee;
    box-shadow: 0 0 5px #3c85ee;
  }
  50% {
    background-color: #3c85ee;
    box-shadow: 0 0 20px #438aee;
  }
  100% {
    background-color: #3c85ee;
    box-shadow: 0 0 5px #3c85ee;
  }
}
.pulse {
  animation: pulsing 1300ms infinite;
}

/* CSS Animation Frames */
@keyframes pull-in-from-left {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes pull-out-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50px);
  }
}
